
/* For screens 1200px and above (laptops and larger) */
@media (min-width: 1200px) { 
  div.container {
    max-width: 800px;
  }
}



/* For smaller screens */
@media (min-width: 576px) { 
  div.container {
    max-width: 540px;
  }
}

@media (min-width: 768px) { 
  div.container {
    max-width: 720px;
  }
}

@media (min-width: 992px) { 
  div.container {
    max-width: 800px;
  }
}


/* General container padding and other global settings */
div.container {
  padding: 30px;
  margin: 0 auto; /* Center the container */
  width:800px;
  max-width: 100%; /* Ensure full width inside the max-width */
}

/* Remove fixed width from the body */
body {
  margin: 0;
  padding: 0;
  
}

  #search_bar {
    background-color: #f2f2f2;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    border : 2px solid black;
  }
  
  #search_btn {
    background-color: #ffffff;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    color: rgb(0, 0, 0);
    border : 2px solid rgb(0, 0, 0);
  }
  
  ul {
    list-style-type: none;
  }
  
  li#city {
  
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    margin: 20px 0 10px;
  }
  
  #search_btn:hover {
    background-color: #c6c6c6;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
  }
  
  .design {
    background-image: url('img/7wlb_t4kh_151225.jpg');
    background-attachment: fixed;
    background-size: cover;
    padding: 40px;
    color: #000000;
    border-radius: 20px;
    border: solid black 3px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    font-family: Helvetica, sans-serif;
  }
  
  .text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
   
  }
  #t_all{
    text-align: left;
  }
  #degree {
    font-size: 88px;
    font-weight: bold;
    line-height: 1;
    position: relative;
    top: 40px;
    margin-left: 0px;
  }
  
  #c {
    font-size: 28px;
    line-height: 1;
    position: relative;
    top: 30px;
  }
  #icon{
    position: relative;
    top:30px;
  }
  footer {
    text-align: center;
    color: rgba(39, 33, 66, 0.4);
    font-size: 12px;
  }
  
  .forecast_day {
    text-align: center;
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  
  .forecast_icon {
    height: 90px;
    width: 90px;
  }
  
  #humidity,
  #wind,
  #kmh,
  #percent {
    color: rgb(99, 10, 217);
  }
  .input-group {
    max-width: 100%;
    overflow: hidden;
  } 

  .row {
    margin-right: 0;
    margin-left: 0;
 
  }
 
#condition,#time{
  color: #f0f8ff;
 
}
 